{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div>
        <br>
        <h2>Available articles</h2>
        <ul class="list-group">
            {% for article in object_list %}
                <li class="list-group-item">
                    <a href="{% url 'article_detail' pk=article.pk slug=article.slug %}">
                        {{ forloop.counter }} - {{ article.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <br>
        <span class="text-muted">{{ notice }}</span>
    </div>
</div>
{% endblock content %}
