{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <h2>Available articles</h2>
            </div>
        <div class="col-md-4" style="text-align:right;">
            <a class="btn btn-primary" href="{% url 'articles:create_article' %}">Create article</a>
        </div>
        </div>
        <ul class="list-group">
            {% for article in object_list %}
                <li class="list-group-item">
                    <a href="{% url 'articles:article_detail' pk=article.pk slug=article.slug %}">
                        {{ forloop.counter }} - {{ article.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <br>
        <span class="text-muted">{{ notice }}</span>
    </div>
</div>
{% endblock content %}
